* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 15px;
  margin: auto;
  color: #ffffff;
  background-color: black;
}
.container {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
.left {
  height: 200px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right {
  height: 200px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inter,
.gelatine,
.spin,
.elastic_spin,
.puls,
.flash,
.grow,
.shake,
.flip {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: radial-gradient(circle at 40px 10px, white, rgb(49 131 210));
}
.inter {
  animation: inter_left 2s ease infinite;
}
@keyframes inter_left {
  0% {
    transform: translatex(-100px) rotate(125deg);
    opacity: 0;
  }
}
.gelatine {
  animation: gelatine 1s infinite linear;
}
@keyframes gelatine {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.spin {
  animation: spiner 1s infinite linear;
}
@keyframes spiner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.elastic_spin {
  animation: elastic_spin 1s infinite ease;
}
@keyframes elastic_spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(720deg);
  }
}
.puls {
  animation: puls 1s infinite linear alternate;
}
@keyframes puls {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.flash {
  animation: flash 0.5s infinite linear alternate;
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hi_there {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background: radial-gradient(circle at 40px 10px, white, rgb(49 131 210));
  animation: hi_there 1s infinite linear;
}
@keyframes hi_there {
  0% {
    transform: scale(1.2);
  }
  25% {
    transform: rotate(-15deg) scale(1.2);
  }
  50% {
    transform: rotate(15deg) scale(1.2);
  }
  75% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.grow {
  animation: grow 2s infinite ease;
}
@keyframes grow {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
.shake {
  animation: shake 3s infinite ease;
}
@keyframes shake {
  0% {
    transform: translatex(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.flip {
  animation: flip 3s infinite ease;
}
@keyframes flip {
  0% {
    transform: translateX(800px);
  }
  25% {
    transform: translateX(-25px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
